* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color : #f0f0f0;
}

